<!-- LOGIN SECTION -->
<section class="clearfix loginSection">
  <div class="container">
    <div class="row">
      <div class="center-block col-md-5 col-sm-6 col-xs-12">
        <div class="panel panel-default loginPanel">
          <div class="panel-heading text-center">Members log in</div>
          <div class="panel-body">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "loginForm") do |f| %>
              <div class="form-group">
                <label for="userEmail">User Email *</label>
                <!-- email field -->
                <%= f.text_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "userEmail" %>
                <p class="help-block">Enter the email that you will use to log in on platform.</p>
              </div>
              <div class="form-group">
                <label for="userPassword">Password *</label>
                <!-- password field -->
                <%= f.password_field :password, autocomplete: "current-password", class: "form-control", id: "userPassword" %>
                <p class="help-block">Enter the password that accompanies your username.</p>
              </div>
              <!-- remember_me -->
              <% if devise_mapping.rememberable? %>
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              <% end %>
              <div class="form-group">
                <!-- submit -->
                <%= f.submit "Log in", class: "btn btn-primary pull-left" %>
                <a href="#" class="pull-right link">Fogot Password?</a>
              </div>
            <% end %>
          </div>
          <div class="panel-footer text-center">
            <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
              <p>Not a member yet? 
                <%= link_to "Sign up", new_registration_path(resource_name), class: "link" %>
              </p>
            <% end %>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
