<!DOCTYPE html>
<html>
  <head>
    <title>TruckApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDU79W1lu5f6PIiuMqNfT1C6M0e_lq1ECY"></script>

    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff" rel="stylesheet">

  </head>

  <body id="body" class="body-wrapper boxed-menu">
    <div class="main-wrapper">
      <!-- HEADER -->
        <header id="pageTop" class="header">

          <!-- TOP INFO BAR -->

          <div class="nav-wrapper navbarWhite">
            <!-- NAVBAR -->

            <%= render 'layouts/navbar' %>

          </div>
        </header>
        <%= flash_messages %>

        <!-- no tengo contenido aun en home/index -->
        <%= yield %>

        <!-- alerts -->
        <script>
          $(".alert").fadeIn(500).css("opacity", "0.85").delay(6000).slideUp(1000);
          $(".alerts").on('click', '.alert', function(){ $(this).remove() });
        </script>
          

        <!-- alerts -->
    </div>  
  </body>
</html>
